:root {
  --font-family-primary: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', var(--font-family-secondary);
  --font-family-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --white:      #FFFFFF;
  --black:      #1A1A1A;

  --dark-gray:  #4D4D4D;
  --gray:       #808080;
  --light-gray: #A7A7A7;
  --silver:     #E7E7E7;

  --blue:       #5A9EED;
  --teal:       #00BBDE;
  --green:      #73D483;
  --yellow:     #EEB058;
  --orange:     #FF855C;
  --red:        #FE6672;
  --purple:     #8A8AD6;

  --lavender:   hsl(310, 42%, 63%);
  --mint:       #00CFBB;
}

/* WRAPPER */
.keen-dataviz {
  box-sizing: border-box;
}

.keen-dataviz .keen-dataviz-title {
  color: var(--dark-gray);
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 200;
  line-height: 32px;
}

.keen-dataviz .keen-dataviz-stage {
  display: block;
}

.keen-dataviz .keen-dataviz-notes {
  color: var(--gray);
  display: block;
  font-family: var(--font-family-secondary);
  font-size: 12px;
  line-height: 32px;
}

/* MESSAGE */
.keen-dataviz .keen-dataviz-message {
  color: var(--gray);
  display: block;
  font-family: var(--font-family-primary);
  font-size: 21px;
  font-weight: 200;
  line-height: 24px;
  text-align: center;
}

/* METRIC */
.keen-dataviz .keen-dataviz-metric {
  background-color: var(--teal);
  border-radius: 4px;
  color: var(--white);
  font-family: var(--font-family-primary);
  text-align: center;
}
.keen-dataviz .keen-dataviz-metric-value {
  display: block;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
}
.keen-dataviz .keen-dataviz-metric-title {
  display: block;
  font-size: 24px;
  font-weight: 200;
  line-height: 24px;
  padding-top: 8px;
}
.keen-dataviz .keen-dataviz-metric-prefix {}
.keen-dataviz .keen-dataviz-metric-suffix {}

/* MESSAGE */
.keen-dataviz .keen-dataviz-message {
  box-sizing: border-box;
}


/* TABLE */
.keen-dataviz .keen-dataviz-table {
  border-bottom: 1px solid var(--silver);
  box-sizing: border-box;
  overflow: scroll;
  position: relative;
}
.keen-dataviz .keen-dataviz-table table {
  background: var(--white);
  border-collapse: collapse;
  font-family: var(--font-family-primary);
  margin: 0;
  position: relative;
  width: 100%;
}

.keen-dataviz .keen-dataviz-table th,
.keen-dataviz .keen-dataviz-table td {
  border-collapse: collapse;
  font-size: 13px;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}
.keen-dataviz .keen-dataviz-table th {
  border-bottom: 1px solid var(--silver);
  color: var(--dark-gray);
}
.keen-dataviz .keen-dataviz-table td {
  background-color: var(--white);
  color: var(--dark-gray);
  transition: background-color 0.1s, color 0.05s;
}
.keen-dataviz .keen-dataviz-table tr:nth-child(even) td {
  background-color: #F3F5F6;
}
.keen-dataviz .keen-dataviz-table tr:hover td {
  background-color: var(--silver);
  color: var(--dark-gray);
}
.keen-dataviz .keen-dataviz-table .keen-dataviz-table-dataset thead {
  visibility: hidden;
}
.keen-dataviz .keen-dataviz-table .keen-dataviz-table-fixed-header {
  background: var(--white);
  border-bottom: 1px solid rgba(0,0,0,.15);
  position: absolute;
  top: 0;
  transition: top .1s;
}

/* C3 CUSTOMIZATIONS */
.keen-dataviz .c3 svg,
.keen-dataviz .c3-tooltip-container {
  font-family: var(--font-family-primary);
}

// C3 CUSTOMIZATIONS
.c3 svg,
.c3-tooltip-container {
  font-family: @font-family-primary;
}

// PAGINATED GRAPH STYLES
.paginated-legend {
  font-family: @font-family-primary;
  display: block;
  float: right;
  width: 50%;
}

.keen-dataviz .legend-navigation {
  margin: 0 auto;
  cursor: pointer;
  width: 6em;
  position: relative;
  text-align: center;
  font-family: var(--font-family-primary);
}

.keen-dataviz .legend-navigation .arrow {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;

  position: absolute;
}

.legend-navigation div.left {
  left: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid var(--dark-gray);

  &:hover {
    border-right: 8px solid var(--light-gray);
  }
}

.keen-dataviz .legend-navigation div.right {
  top: 0;
  right: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid var(--dark-gray);

  &:hover {
    border-left: 8px solid var(--light-gray);
  }
}
