body {
  margin: 0;
  padding: 2rem;
}

h1, h2, h3, label, select {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

h3 {
  margin: 0 ;
}

.selector-container label{
  margin-bottom: 0.3rem;
}

#theme-selector {
  background: #FFF;
  border-radius: 0 0 2px 2px;
  padding: 5px 10px 0;
  position: fixed;
  right: 20px;
  top: 0px;
  width: 400px;
  display: flex;
  flex-direction: row;
  z-index: 9999;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
  border-radius: 0 0 0.3rem 0.3rem;
}

#theme-selector .selector-container{
  flex: 1;
  padding: 0.5rem;
}

#theme-selector label {
  display: block;
}

#theme-selector select {
  display: block;
  height: 32px;
  width: 100%;
}

/*! Tiles */

.keen-ui-col-1, .keen-ui-col-2,
.keen-ui-col-3, .keen-ui-col-4,
.keen-ui-col-5, .keen-ui-col-6,
.keen-ui-col-7, .keen-ui-col-8,
.keen-ui-col-9, .keen-ui-col-10,
.keen-ui-col-11, .keen-ui-col-12 {
  box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 52em) {
  .keen-ui-col-1, .keen-ui-col-2,
  .keen-ui-col-3, .keen-ui-col-4,
  .keen-ui-col-5, .keen-ui-col-6,
  .keen-ui-col-7, .keen-ui-col-8,
  .keen-ui-col-9, .keen-ui-col-10,
  .keen-ui-col-11, .keen-ui-col-12 {
    float: left;
  }

  /*! Grid units */
  .keen-ui-col-1 {
    width: 8.33333%;
  }
  .keen-ui-col-2 {
    width: 16.66667%;
  }
  .keen-ui-col-3 {
    width: 25%;
  }
  .keen-ui-col-4 {
    width: 33.33333%;
  }
  .keen-ui-col-5 {
    width: 41.66667%;
  }
  .keen-ui-col-6 {
    width: 50%;
  }
  .keen-ui-col-7 {
    width: 58.33333%;
  }
  .keen-ui-col-8 {
    width: 66.66667%;
  }
  .keen-ui-col-9 {
    width: 75%;
  }
  .keen-ui-col-10 {
    width: 83.33333%;
  }
  .keen-ui-col-11 {
    width: 91.66667%;
  }
  .keen-ui-col-12 {
    width: 100%;
  }

  /*! Grid offset units */
  .keen-ui-col-offset-1 {
    margin-left: 8.33333%;
  }
  .keen-ui-col-offset-2 {
    margin-left: 16.66667%;
  }
  .keen-ui-col-offset-3 {
    margin-left: 25%;
  }
  .keen-ui-col-offset-4 {
    margin-left: 33.33333%;
  }
  .keen-ui-col-offset-5 {
    margin-left: 41.66667%;
  }
  .keen-ui-col-offset-6 {
    margin-left: 50%;
  }
  .keen-ui-col-offset-7 {
    margin-left: 58.33333%;
  }
  .keen-ui-col-offset-8 {
    margin-left: 66.66667%;
  }
  .keen-ui-col-offset-9 {
    margin-left: 75%;
  }
  .keen-ui-col-offset-10 {
    margin-left: 83.33333%;
  }
  .keen-ui-col-offset-11 {
    margin-left: 91.66667%;
  }

  /*! No offsets > 4 grid units */
}


