.demo-theme-dashboard {
  background: #f2f2f2;
}
.demo-theme-dashboard h1 {
  color: #333;
}
.demo-theme-dashboard h2 {
  color: #555;
  font-size: 18px;
}
.demo-theme-dashboard h3 {
  color: #888;
  font-size: 14px;
  font-weight: 200;
  margin: 20px 0 5px;
  text-transform: uppercase;
}

.demo-theme-dashboard .keen-dataviz {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-sizing: border-box;
}
.demo-theme-dashboard .keen-dataviz-title {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 2px 2px 0 0;
  /*font-family: 'Helvetica Neue', Helvetica, sans-serif;*/
  font-size: 13px;
  padding: 2px 10px 0;
  text-transform: uppercase;
}
.demo-theme-dashboard .keen-dataviz-stage {
  padding: 10px;
}
.demo-theme-dashboard .keen-dataviz-notes {
  background: #fbfbfb;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e7e7e7;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11px;
  padding: 0 10px;
}

.demo-theme-dashboard .keen-dataviz .keen-dataviz-metric {
  border-radius: 2px;
}

.demo-theme-dashboard .keen-dataviz .keen-spinner-indicator {
  border-top-color: rgba(0, 187, 222, .4);
}
