.demo-theme-default {
  background: #fbfbfb;
}
.demo-theme-default h1 {
  color: #282828;
}
.demo-theme-default h2 {
  color: #4D4D4D;
}
.demo-theme-default h3 {
  color: #555;
}

.keen-ui-col-4,
.keen-ui-col-8,
.keen-ui-col-6 {
  padding: 1% 3%;
}
